Repository ddchef/vue-code-diff: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "example/**/*.{js,json,vue,ts,tsx}": [
    "eslint --fix"
  ],
  "lib/**/*.{js,json,vue,ts,tsx}": [
    "eslint --fix"
  ],
  "example/**/*.{css,less}": [
    "stylelint --fix"
  ],
  "lib/**/*.{css,less}": [
    "stylelint --fix"
  ]
}

build: lintstage 配置文件去掉多余参数
  .lintstagedrc.json
Due: none

feat: 添加diff，数据格式处理
  example/app.tsx
  example/data.ts
  index.html
  lib/code-row.tsx
  lib/index.less
  lib/index.ts
  lib/index.tsx
  lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, stylelint --fix

feat: support types
  src/lib/code-diff/index.vue
  types/index.d.ts
Due: none

fix: resolve missing postcss dependencies
  package.json
Due: none

feat: support types
  package.json
  types/index.d.ts
Due: none

build: 修改webpack配置
  build/config/webpack.base.js
  example/build/config/webpack.base.js
Due: eslint --fix

fix: [#45][#48]different height
  example/src/corners.vue
  src/lib/code-diff/index.vue
Due: eslint --fix

build: v1.2.0
   .npmignore
  .gitignore
  dist/vue-code-diff.js
  dist/vue-code-diff.js.map
  package.json
  pnpm-lock.yaml
Due: none

Update index.vue
  src/lib/code-diff/index.vue
Due: none

Update README.md
  README.md
Due: none

build1.0.2
  dist/vue-code-diff.js
Due: none

build1.0.2
  dist/vue-code-diff.js.map
Due: none

1.0.2
  package.json
Due: none

make main file definition work relative to package.json
  package.json
Due: none
